main{
    height: 100vh;
}

#button-div{
    margin-left: 0.7em;
}

input{
    width: 25em;
}

a{
    color: black;
}

img{
    width: 30px;
}

.DataTable-margin{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
}

#box{
    background-image: url('../public/Backgound/background.jpg');
}

h1{
    color: white;
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 2px #ffffff;
}

input{
    box-shadow: 2px 2px 5px 5px #0e0d0d;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8)
}

input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 1)

}

button{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px 5px #0e0d0d;
    width: 60px;
    height: 36px;
}

button:hover{
    background-color: rgba(255, 255, 255, 1);
}

.error{
    position: relative;
    right: 2em;
    color: red;
}

.datatable-head{
    text-shadow: 1px 1px 2px #111010;
}

.dataBox-div{
    background-color: rgba(54, 51, 51, 0.24);
    width: 290px;
}

.stats{
    font-family: 'Inconsolata', monospace;
    color: white;
    padding-left: 0.5em;
    width: 100%;
}

a{
    color: white;
}

.data-div{
    height:75%;
    position:relative;
    bottom: 5px;
}

#faceit{
    position: static;
    padding-top: 50px;
}

span{
    width: 100%;
}

.fa-thumbs-up{
    color: green;
}

.fa-thumbs-down{
    color: red;
}

@media(max-width: 600px){
    h1{
        text-align: center;
    }
}