main{
    height: 100vh;
}

#button-div{
    margin-left: 0.7em;
}

input{
    width: 25em;
}

a{
    color: black;
}

img{
    width: 30px;
}

.DataTable-margin{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
}